body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(#015C92, #2D83B5, #89CCF6);
}

.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loginForm-container {
    display: flex;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
    width: 900px;
    height: 450px;
}

.loginForm-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm-image img {
    max-width: 100%;
    height: auto;
}

.loginForm-form {
    flex: 1;
    padding: 40px;
}

.loginForm-header h1 {
    text-align: center;
    color: #004B77;
}

.input-group {
    margin-bottom: 10px;
}

.input-group input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 8px;
}

.loginForm-button button {
    margin-top: 25px;
    width: 100%;
    padding: 15px;
    color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    border-radius: 30px;
    text-transform: uppercase;
    border: 1px solid #4caf50;
    background-color: #FFFFFF;
}

.loginForm-button button:hover {
    color: #F0F2F5;
    border: 1px solid #4caf50;
    background-color: #4caf50;
}

.text-error p {
    color: #cc1d1d;
}