.profile {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
}

.profile-container {
    margin: 1em;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow: auto;
    /* flex: 1; */
}

.profile-header {
    display: flex;
    align-items: center;
}

.back-btn {
    width: 30px;
    height: 35px;
    margin-right: 10px;
    cursor: pointer;
}

h2 {
    margin: 0;
    font-size: xx-large;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.profile-body {
    display: flex;
}

.profile-detailsBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details-btn {
    padding: 0.8em;
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
    color: #015C92;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 8px;
    text-transform: uppercase;
    border: 1px solid #015C92;
    background-color: #F0F2F5;
}

.details-btn:hover {
    color: #F0F2F5;
    border: 1px solid #015C92;
    background-color: #015C92;
}

.profile-image,
.profile-info {
    flex: 1;
}

.profile-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.profile-avatar {
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-avatar img {
    width: 100%;
}

.profile-info {
    padding-left: 20px;
}

.profile-info label {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

.profile-info input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 1px;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 14px;
    color: gray;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.035em;
}

.btn {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.delete-btn {
    padding: 0.8em;
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 8px;
    text-transform: uppercase;
    border: 1px solid #f44336;
    background-color: #f44336;
}

.delete-btn:hover {
    color: #f44336;
    border: 1px solid #f44336;
    background-color: #F0F2F5;
}